* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("../img/PokemonBackground.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

form {
    position: absolute;
    left: 25%;
    bottom: 38%;
}

#pokedex {
    position: absolute;
    object-fit: cover;
    top: 2.5%;
    left: 20%;
}

#pokedex img {
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

#pokemonImg {
    position: absolute;
    height: 20%;
    z-index: 10;
    top: 17%;
    left: 24%;
}

.pokemonInfo {
    position: absolute;
    z-index: 10;
    top: 21%;
    left: 35%;
    font-size: 1.2rem;
}

.pokemonInfo p {
    padding: 3px 0;
}

#textField, #submit {
    z-index: 8;
    padding: 10px;
    border-radius: 20px;
    width: 190px;
    border: 3px solid black;
}

#submit {
    cursor: pointer;
}

#submit:hover {
    color: white;
    background-color: black;
}