* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/PokemonBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    overflow: hidden;
}

form {
    position: absolute;
    left: 27.5%;
    bottom: 38%;
}

#pokedex {
    display: grid;
    justify-content: center;
    align-items: center;
}

.pokedex-large {
    height: 100vh;
    padding: 50px;
}

.pokedex-small {
    opacity: 0;
}

#pokeImgContainer {
    /* background-color: purple; */
    border-radius: 10px;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 10;
    top: 19%;
    left: 30%;
}

#pokemonImg {
   height: 100%;
}

.pokemonInfo {
    /* background-color: purple; */
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    top: 22%;
    right: 25.5%;
    font-size: 1.2rem;
    width: 350px;
    color: white;
}

.pokemonInfo p {
    padding: 3px 0;
    margin: 5px 35px 5px 0px;
}

#textField, #submit {
    z-index: 8;
    padding: 10px;
    border-radius: 20px;
    width: 190px;
    border: 3px solid black;
}

#submit {
    cursor: pointer;
}

#submit:hover {
    color: white;
    background-color: black;
}

.arrowUp {
    /* background-color: purple; */
    position: absolute;
    bottom: 27.9%;
    left: 35%;
    cursor: pointer;
}

.arrowDown {
    /* background-color: purple; */
    position: absolute;
    bottom: 16%;
    left: 35%;
    cursor: pointer;
}

/* ----------- width 300px to 500px-------------- */
@media only screen and (min-width: 300px) and (max-width: 500px){
    body {
        height: 100%;
        width: 100%;
        background-size: 100vh 100%;
        object-fit: cover;
        overflow: hidden;
    }
    
    #pokedex {
        z-index: 0;
    }

    .pokedex-large {
        opacity: 0;
    }

    .pokedex-small {
        opacity: 1;
        height: 100vh;
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        padding: 30px;
    }

    #pokeImgContainer {
        top: 28%;
        left: 38%;
        border: none;
    }

    #pokemonImg {
        width: 110px;
        height: 110px;
    }

    .pokemonInfo {
        top: 41%;
        left: 28%;
        font-size: .9rem;
        color: black;
        width: 250px;
    }

    .pokemonInfo p {
        margin: 5px 15px 5px 0px;
    }

    form {
        bottom: 38%;
        left: 30%;
    }

    /* .arrowUp {
        bottom: 31%;
        left: 45%;
    }
    
    .arrowDown {
        bottom: 24%;
        left: 45%;
    }

    .arrowDown, .arrowUp {
        height: 50px;
    } */
}

/* ----------- width 500px to 700px-------------- */
@media only screen and (min-width: 500px) and (max-width: 700px){
    #pokedex {
        z-index: 0;
    }

    .pokedex-large {
        opacity: 0;
    }

    .pokedex-small {
        opacity: 1;
        height: 100vh;
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        padding: 30px;
    }

    #pokeImgContainer {
        top: 18%;
        left: 25%;
        border: none;
    }

    #pokemonImg {
        width: 300px;
        height: 300px;
    }

    .pokemonInfo {
        top: 74%;
        left: 25%;
        font-size: 1.1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        bottom: 31%;
        left: 27%;
    }

    #textField, #submit {
        width: 300px;
        margin: 5px 0px;
    }

    .arrowUp {
        bottom: 27.9%;
        left: 45%;
    }
    
    .arrowDown {
        bottom: 16%;
        left: 45%;
    }
}

/* ----------- width 700px to 900px-------------- */
@media only screen and (min-width: 700px) and (max-width: 900px){
    #pokedex {
        z-index: 0;
    }

    .pokedex-large {
        opacity: 0;
    }

    .pokedex-small {
        opacity: 1;
        height: 100vh;
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        padding: 30px;
    }
    #pokeImgContainer {
        top: 18%;
        left: 31%;
        border: none;
    }

    #pokemonImg {
        width: 300px;
        height: 300px;
    }

    .pokemonInfo {
        top: 74%;
        left: 32%;
        font-size: 1.1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        bottom: 33%;
        left: 32%;
    }

    #textField, #submit {
        width: 300px;
        margin: 5px 0px;
    }

    .arrowUp {
        bottom: 27.9%;
        left: 45%;
    }
    
    .arrowDown {
        bottom: 16%;
        left: 45%;
    }
}

/* ----------- width 900px to 1000px-------------- */
@media only screen and (min-width: 900px) and (max-width: 1000px){
    #pokedex {
        z-index: 0;
    }

    .pokedex-large {
        opacity: 0;
    }

    .pokedex-small {
        opacity: 1;
        height: 100vh;
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        padding: 30px;
    }

    #pokeImgContainer {
        top: 18%;
        left: 34%;
        border: none;
    }

    #pokemonImg {
        width: 300px;
        height: 300px;
    }

    .pokemonInfo {
        top: 74%;
        left: 35%;
        font-size: 1.1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        bottom: 33%;
        left: 35%;
    }

    #textField, #submit {
        width: 300px;
        margin: 5px 0px;
    }

    /* .arrowUp {
        bottom: 27.9%;
        left: 45%;
    }
    
    .arrowDown {
        bottom: 16%;
        left: 45%;
    } */
}

/* ----------- width 1001px to 1200px-------------- */
@media only screen and (min-width: 1001px) and (max-width: 1200px){
    
    #pokedex {
        z-index: 0;
    }

    .pokedex-large {
        opacity: 0;
    }

    .pokedex-small {
        opacity: 1;
        height: 100vh;
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        padding: 30px;
    }

    #pokeImgContainer {
        top: 18%;
        left: 41%;
        border: none;
    }

    #pokemonImg {
        width: 200px;
        height: 200px;
    }

    #textField, #submit {
        width: 170px;
    }

    .pokemonInfo {
        top: 39%;
        left: 40%;
        font-size: 1.1rem;
        color: black;
    }

    form {
        left: 34%;
        bottom: 38%;
    }

    .arrowUp {
        bottom: 27.9%;
        left: 46%;
    }
    
    .arrowDown {
        bottom: 16%;
        left: 46%;
    }
    
}

/* ----------- width 1200px to 1400px-------------- */
@media only screen and (min-width: 1200px) and (max-width: 1400px){

    #pokedex{
        height: 300px;
    }

    #pokeImgContainer {
        top: 19%;
        left: 23%;
    }

    #textField, #submit {
        width: 170px;
    }

    .pokemonInfo {
        top: 22%;
        right: 16.5%;
    }

    form {
        left: 21%;
        bottom: 38%;
    }

    .arrowUp {
        bottom: 27.9%;
        left: 31%;
    }
    
    .arrowDown {
        bottom: 16%;
        left: 31%;
    }
    
}

/* ----------- width 1400px to 1600px-------------- */
@media only screen and (min-width: 1500px) and (max-width: 1600px){

    #pokedex{
        height: 300px;
    }

    #pokeImgContainer {
        top: 18%;
        left: 27%;
    }


    .pokemonInfo {
        top: 22%;
        right: 21%;
    }


    form {
        left: 24%;
        bottom: 38%;
    }

    #textField, #submit {
       width: 170px;
    }

    .arrowUp {
        bottom: 27.9%;
        left: 32.5%;
    }
    
    .arrowDown {
        bottom: 16%;
        left: 32.5%;
    }

}

/* ----------- width 1600px to 1800px-------------- */
@media only screen and (min-width: 1700px) and (max-width: 1800px){

    #pokedex{
        height: 300px;
    }

    #pokeImgContainer {
        top: 19%;
        left: 29%;
        border: none;
    }

    .pokemonInfo {
        top: 22%;
        right: 23.5%;
    }

    form {
        left: 28%;
        bottom: 38%;
    }

    #textField, #submit {
       width: 170px;
    }

    .arrowUp {
        bottom: 28%;
        left: 35%;
    }
    
    .arrowDown {
        bottom: 16%;
        left: 35%;
    }

}
