* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/PokemonBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    overflow: hidden;
}

form {
    position: absolute;
    left: 27.5%;
    bottom: 38%;
}

#pokedex {
    display: grid;
    justify-content: center;
    align-items: center;
}

.pokedex-large {
    height: 100vh;
    padding: 50px;
}

.pokedex-small {
    opacity: 0;
}

#pokeImgContainer {
    /* background-color: purple; */
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 10;
    top: 21%;
    left: 28.5%;
}

#pokemonImg {
   height: 100%;
}

.pokemonInfo {
    position: absolute;
    z-index: 10;
    top: 21%;
    left: 37%;
    font-size: 1.2rem;
}

.pokemonInfo p {
    padding: 3px 0;
}

#textField, #submit {
    z-index: 8;
    padding: 10px;
    border-radius: 20px;
    width: 190px;
    border: 3px solid black;
}

#submit {
    cursor: pointer;
}

#submit:hover {
    color: white;
    background-color: black;
}

/* Targeting Small Devices (Phones, Tablets) */
@media only screen and (min-width: 600px) and (max-width: 900px){
    #pokedex {
        z-index: 0;
    }
    
    .pokedex-small {
        position: absolute;
        top: 2.5%;
        left: 20%;
    }

    #pokeImgContainer {
        height: 120px;
        width: 120px;
        top: 22%;
        left: 35%;
    }

    .pokemonInfo {
        top: 25%;
        left: 53%;
        font-size: 1.3rem;
    }

    form {
        left: 30%;
        bottom: 33%;
    }
}

/* Targeting Medium devices (Phones, tablets) */
@media only screen and (min-width: 900px) and (max-width: 1000px){
    #pokedex {
        z-index: 0;
        height: 99%;
        width: 80%;
    }
    
    .pokedexImg {
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    #pokeImgContainer {
        height: 150px;
        width: 150px;
        top: 22%;
        left: 33%;
    }

    .pokemonInfo {
        top: 22%;
        left: 52%;
        font-size: 1.3rem;
    }

    form {
        left: 30%;
        bottom: 33%;
    }
}

/* Targeting large devices (laptops/Desktop) */
@media only screen and (min-width: 1001px) and (max-width: 1200px){
    
    #pokedex {
        z-index: 0;
    }

    /* #pokeImgContainer {
        height: 150px;
        width: 150px;
        top: 22%;
        left: 30%;
    } */

    .pokedex-large {
        opacity: 0;
    }

    .pokedex-small {
        opacity: 1;
    }

    .pokemonInfo {
        top: 22%;
        left: 46%;
        font-size: 1.3rem;
    }

    form {
        left: 30%;
        bottom: 33%;
    }
    
}


/* ----------- width 1200px to 1400px-------------- */
@media only screen and (min-width: 1200px) and (max-width: 1400px){

    #pokedex{
        height: 300px;
    }

    #pokeImgContainer {
        height: 150px;
        width: 150px;
        top: 22%;
        left: 22.5%;
    }

    .pokemonInfo {
        top: 22%;
        left: 34%;
        font-size: 1.3rem;
    }

    form {
        left: 20%;
        bottom: 38%;
    }
    
}

/* ----------- width 1400px to 1600px-------------- */
@media only screen and (min-width: 1400px) and (max-width: 1600px){

    #pokedex{
        height: 300px;
    }

    #pokeImgContainer {
        height: 150px;
        width: 150px;
        top: 22%;
        left: 24.5%;
    }

    .pokemonInfo {
        top: 22%;
        left: 35%;
        font-size: 1.3rem;
    }

    form {
        left: 23%;
        bottom: 38%;
    }
    
}